---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zinc-900" >
		<div class="bg-black h-20" >
			<header class="flex container mx-auto items-center justify-between h-full w-full max-w-[1100px] max-h-20" >
				<img class="w-40 h-auto" src="/public/png-transparent-spotify-logo-logo-spotify-issuu-soundcloud-spotify-logo-white-text-logo-removebg-preview.png" alt="">
				<menu class="flex gap-5">
					<li class="flex items-center"><a href="#" class="text-white font-bold hover:text-green-600">Premium</a><div class="absolute group-hover:block hidden top-[42px] w-60 bg-slate-500">submenu</div></li>
					<li class="flex items-center"><a href="#" class="text-white font-bold hover:text-green-600">Ayuda</a></li>
					<li class="flex items-center"><a href="#" class="text-white font-bold hover:text-green-600">Descargar</a></li>
					<li class="text-white flex items-center">|</li>
					<li class="flex items-center"><a href="#" class="text-slate-200 font-bold hover:text-green-600">Registrarse</a></li>
					<li class="flex items-center"><a href="#" class="text-slate-200  font-bold hover:text-green-600">Iniciar Sesión</a></li>
				</menu>
			</header>
			
		</div>
		

		<div>
			<div class="bg-gradient-to-b from-[#a88e9d] via-[#8e6f81 ] to-[#252123] h-24 bg-opacity-100"></div>
			<div class="flex items-start max-w-xl mx-28 -mt-12">
				<h1 class="text-white">
					<span class="text-5xl font-bold">Disfruta de tu contenido favorito sin límites. Prueba Premium Individual gratis durante 1 mes.</span>
					<div class="my-5 font-semibold">Después, solo 16.900 COP/mes. Cancela cuando quieras.</div>
				</h1>

			</div>

			<div class="hover:scale-105 transition-transform hover:cursor-pointer hover:bg-pink-100 flex items-center justify-center mx-28 my-4 bg-pink-200 rounded-full font-bold text-center h-12 w-72 cursor-pointer">
				Probar gratis durante un mes.
			</div>

			<div class="flex items-center justify-center mx-[420px] -mt-16 bg-black rounded-full font-bold text-center h-12 w-56 cursor-pointer text-white border-[0.5px] border-white">
				Ver todos los planes
			</div>

			<div class="my-5 mx-28">
				<span class="text-white block text-xs">Gratis durante 1 mes. Luego, 16.900 COP al mes. Oferta disponible</span>
				<span class="text-white text-xs">solo si no has probado Premium. <span class="underline text-xs">Consulta las condiciones.</span></span>
				
			</div>

		</div>

		<div>
			<div class="flex justify-center items-center text-neutral-100 mt-36 font-bold">
				<h1 class="text-5xl block">Siente la diferencia</h1>
			</div>
			<div class="flex justify-center items-center text-neutral-100 mt-3">
				<span class="text-2xl block">Pásate a Premium y disfruta del control total de lo que
					<p class="flex justify-center items-center">escuchas. Cancela cuando quieras.</p>
				</span>
			</div>
		</div>

		<div class="">
			<div class="text-white flex justify-center items-center mt-20">
				<div class="mx-10">
					<span class="text font-bold">Plan</span>
					<p class="text font-bold">Spotify free</p>
				</div>

				<div class="text-white font-bold">
					<div>
						<Icon class="-mx-5" name="mdi:spotify" /><p class="flex items-center -mt-5">Planes</p>
						<p class="">Premium</p>
						<p>de Spotify</p>
					</div>
				</div>
			</div>

			<div class="flex max-w-96 mx-auto items-center text-neutral-100 font-bold mt-8">
				<span class="">Qué incluye</span>
			</div>

			<div class="text-white mt-3">
				
				<div class="border-b border-t mx-auto max-w-96 ">
					<div class="">
						<p class="underline decoration-dotted mt-3">Escucha tu música</p>
						<p class="underline decoration-dotted">favorita sin anuncios</p>
						<p class="mt-3"></p>

						<div class="flex justify-center">
							<Icon name="mdi:horizontal-line" />
						</div>

						<div>
							<Icon name="mdi:check-circle-outline" />
						</div>
					</div>
					
					
				</div>




			</div>






		</div>
		<br><br><br><br><br><br><br>



		<slot />
	</body>
</html>
