---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Organigrama">
    Esta es la pagina principal del organigrama
    <span class="font-myfont">Letrassssss</span> 

    <div class="h-[1200px]">
        texto largo
    </div>
</Layout>
