---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title> 
	</head>
	<body class="bg-white">
		<slot />

		<div class="flex items-center justify-between mx-48 my-3">
			<div>
				<p>Aqui va texto</p>

			</div>

			<div class="flex justify-center items-center gap-7">
				<Icon name="mdi:asterisk-circle-outline" />
				<Icon name="mdi:cards-heart" />
				<Icon name="mdi:chart-line-stacked" />
				<Icon name="mdi:shopping" />
			</div>
			
		</div>

		<div class="flex justify-center  -mt-9 gap-20">
			<div class="flex justify-center items-center gap-6">
				<p class="underline">Aquí va el texto de búsqueda</p>
				<Icon name="mdi:search" />

			</div>

			<div>
				<img src="public/ec1df33033f38e3e6ed46caa83938e8e.jpg" alt="">
			</div>

			<div class="flex justify-center items-center gap-2">
				<Icon name="mdi:shopping-cart-outline" />
				<p>0 compras</p>
				<p>$0.00</p>

			</div>
		</div>

		<div class="-mt-7">
			<menu class="flex justify-center items-center gap-3 text-xs font-semibold">
				<li class="flex text-red-600">HOME<Icon name="mdi:arrow-down-drop" /></li>
				<li class="flex ">SHOP<Icon name="mdi:arrow-down-drop" /></li>
				<li class="flex ">BLOG<Icon name="mdi:arrow-down-drop" /></li>
				<li>SERVICES</li>
				<li>ABOUT US</li>
				<li>CONTACT US</li>
			</menu>
		</div>

		<div class="my-9 relative">
			<img class="h-96 w-full" src="public/modern-residence-with-rendered-spacious-living-room-complete-with-sofa-tea-table-decorative-painting-etc-photo.jpg" alt="">
			<div class="absolute inset-0 mx-48 my-24 text-5xl font-semibold"><p>Sale!</p></div>
			<div class="absolute inset-4 mx-36 my-36"><p class="bg-pink-900 text-white w-40">10% off all products</p></div>
			<div class="absolute inset-6 mx-36 my-44"><p class="border border-b-2 border-fuchsia-50 w-40">SHOP NOW</p></div>
		</div>

		<div class="flex justify-center items-center mx-60 gap-12 my-9">

			<div class="flex flex-col justify-center items-center border border-b-2">
				<Icon name="mdi:money-100" />
				<p class="font-semibold" >100% MONEY BACK GUARANTEE</p>
				<p class="text-center">Lorem ipsum dolor sit amnventore delectus aperiam quas vel</p>
			</div>

			<div class="flex flex-col justify-center items-center border border-b-2">
				<Icon name="mdi:car" />
				<p class="font-semibold">100% MONEY BACK GUARANTEE</p>
				<p class="text-center">Lorem ipsum dolor sit amnventore delectus aperiam quas vel</p>
			</div>


			<div class="flex flex-col justify-center items-center border border-b-2">
				<Icon name="mdi:vector-circle" />
				<p class="font-semibold">100% MONEY BACK GUARANTEE</p>
				<p class="text-center">Lorem ipsum dolor sit amnventore delectus aperiam quas vel</p>
			</div>
			
		</div>
		<div class="border-t-2 text-pink-300 my-14"></div>

		<div>
			<menu class="flex justify-center items-center gap-5">
				<li class="font-bold">NEW</li>
				<li>FEATURED</li>
				<li>SALE</li>
			</menu>
		</div>
		<div class="flex justify-center items-center my-8 gap-5 mx-40">
			<div>
				<img src="public/71CboSSIOuS._AC_UF894,1000_QL80_.jpg" alt="">
				<p>Texto del producto</p>
				<div class="flex justify-start items-center text-red-600">
					<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
				</div>
				<p class="font-semibold">$180.00</p>
				
			</div>

			<div>
				<img src="public/71CboSSIOuS._AC_UF894,1000_QL80_.jpg" alt="">
				<p>Texto del producto</p>
				<div class="flex justify-start items-center text-red-600">
					<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
				</div>
				<p class="font-semibold">$180.00</p>
			</div>

			<div>
				<img src="public/71CboSSIOuS._AC_UF894,1000_QL80_.jpg" alt="">
				<p>Texto del producto</p>
				<div class="flex justify-start items-center text-red-600">
					<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
				</div>
				<p class="font-semibold">$180.00</p>
			</div>

			<div>
				<img src="public/71CboSSIOuS._AC_UF894,1000_QL80_.jpg" alt="">
				<p>Texto del producto</p>
				<div class="flex justify-start items-center text-red-600">
					<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
				</div>
				<p class="font-semibold">$180.00</p>
			</div>

		</div>

		<div class="flex justify-center items-center">
			<div class="border-t-2 mx-2 border-black w-8"></div>
			<p>MOST VIEWD</p>
			<div class="border-t-2 mx-2 border-black w-8"></div>
		</div>

		<div class="flex justify-center items-center gap-8 my-5">
			<div class="flex flex-col">
				<div class="my-10 flex justify-center items-center">
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>
					

				</div>
				<div class="my-10 flex justify-center items-center">
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
				<div class="my-10 flex justify-center items-center">
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
			</div>



			<div class="flex flex-col">
				<div class="my-10 flex justify-center items-center" >
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
				<div class="my-10 flex justify-center items-center">
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
				<div class="my-10 flex justify-center items-center">
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
			</div>



			<div class="flex flex-col">
				<div class="my-10 flex justify-center items-center">
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
				<div class="my-10 flex justify-center items-center">
					<img class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
				<div class="my-10 flex justify-center items-center">
					<img  class="size-24" src="public/images.jpeg" alt="">
					<div class="flex flex-col ">
						<p class="text-xs">Texto del producto</p>
						<div class="flex justify-start items-center text-red-600">
							<Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" /><Icon name="mdi:star" />
						</div>
						<p class="font-semibold">$180.00</p>

					</div>

				</div>
			</div>
		</div>


		<footer class="bg-zinc-900 h-44">



		</footer>




	</body>
</html>
