---

---

<div class="items-center space-x-1 transition-colors bg-purple-400 hover:bg-purple-500 hover:cursor-pointer px-2 rounded inline-flex">
    <slot name="icon" /> 
    <slot name="text" />
</div>